<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What about me?</h2>
                <hr class="light">
                <p class="text-faded">斗鱼直播房间号：643081 新浪微博：王紫潼 QQ走心后援团群：439216235 直播通知群548596333 其实、我是一名演员～切记！谐星不是我的气质～
                  电视剧：《杀八方》《大宋传奇之赵匡胤》《青春燃烧的岁月》《楚汉传奇》《大丽家的往事》电影：《你是我的葱姜蒜》《我的魔界女友》 </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
