<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What about me?</h2>
                <hr class="light">
                <p class="text-faded"> I am a graduate student at ZhiJiang University with major in Computer science and Technology. I like
                Reading and Coding.I plan to engage in game development. It's a pleasure to share with you some of my ideas. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
