<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="light">
                <p>跟我们分享你的想法.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://weibo.com/{{ site.weibo_username }}">
                <i class="fa fa-weibo fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.weibo_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.phone }}">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ "刘娜185-0008-5166 小文181-0109-8173" }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="http://www.douyu.com/643081">
            <i class="fa fa-rocket fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ "斗鱼TV" }}</p>
            </a>
        </div>

    </div>
</section>
